.wrapper {
    
    h1 {
        text-align: center;
        margin-bottom: 1rem;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 24rem;
        margin: 0 auto;

        > label {
            display: flex;
            align-items: center;
            gap: 1rem;
            width: 100%;
            margin-left: -8em;
            :first-child {
                min-width: 7em;
                text-align: end;
            }

            > input, > select {
                width: 100%;

                &[type="checkbox"] {
                    flex: 0;
                    width: 1.5rem;
                    height: 1.5rem;

                    &::before {
                        content: "";
                        display: block;
                        width: 1em;
                        height: 1em;
                        border: 1px solid var(--light-background);
                        border-radius: 0.25rem;
                    }
                }
            }
        }

        :global(.small) {
            &:first-of-type {
                margin-top: -0.5rem;
            }
            margin-bottom: 0.5rem;
            padding-left: 4rem;
            width: 80%;
            font-style: italic;
            font-size: 0.8em;
            opacity: 0.7;
            align-self: flex-start;
        }

        input[type="submit"] {
            width: 16rem;
            margin-top: -0.5rem;
        }
    }
}